<div class="app-container">
  <div class="app-container__content">
    <mat-card
      *ngFor="let item of options"
      class="app-container-card"
      (click)="navigate(item.route)"
    >
      <mat-card-header>
        <div mat-card-avatar class="app-container-header-image">
          <mat-icon>settings</mat-icon>
        </div>
      </mat-card-header>
      <mat-card-title>{{ item.title }}</mat-card-title>
      <mat-card-subtitle>{{ item.subtitle }}</mat-card-subtitle>
    </mat-card>
  </div>
</div>
