@use '@angular/material' as mat;
@use '../../../../../../assets/styles/theme-colors' as theme;
@use 'sass:map';

 ::ng-deep .mat-mdc-dialog-surface {
    overflow: hidden !important;
    border-radius: 8px;
    display: flex;
    max-width: 721px;
    width: 750px;
    position: relative;
 }

// filter-dialog.component.scss
.filter{
  display: flex;
  flex-wrap: nowrap;
  padding: 24px;
  gap: 8px;
  margin: 0 auto;

  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &__group {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  &__label {
    color: var(--mat-sys-on-surface-variant);
    width: 267px;
    height: 24px;
    letter-spacing: 0.5px;
    line-height: 24px;
  }

  &__input {
    width: 398px;
    height: 56px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  &__dates {
    display: flex;
    align-items: center;
    gap: 56px;
    width: 398px;
    height: 56px;
  }
  &__actions {
    display: flex;
    justify-content: flex-end;
    gap: 46px;
    margin-top: 16px;
  }
  &__button {
    padding: 10px 16px;
    border-radius: 6px;
    font-weight: bold;
    border: none;
    outline: none;
    box-shadow: none;

    &--cancel {
      color: var(mat-sys-primary);
      border-radius: 100px;
      gap: 8px;
      background: none;
    }

    &--search {
      background: var(mat-sys-primary);
      color: var(mat-sys-on-primary);
      border-radius: 100px;
      gap: 8px;
    }
  }
}




