.transacts__container{
  font-size: 14px;
  &__tags{
    &__container{
      display: flex;
      align-items: center;
      gap: 8px;
      flex-wrap: wrap;
      margin-bottom: 17px;
      &__tag{
        display: flex;
        align-items: center;
        gap: 8px;
        max-height: 32px;
        cursor: pointer;
        font-size: 12px;
        &__quantity{
          background-color: #e7e8ea;
          border: 1px solid #e7e8ea;
          border-radius: 4px;
          padding-inline: 4px;
        }
      }
      &__btn{
        display: flex;
        align-items: center;
        gap: 8px;
        color: #256679;
        cursor: pointer;
        min-height: 40px;
      }
    }
  }
}
