@use '@angular/material' as mat;
@use '../../../../../assets/styles/theme-colors' as theme;
@use 'sass:map';
$primary-40: map.get(theme.$primary-palette, 40);

// Specific styles for overlay mode
:host {
  display: block;
}

.overlay-filter {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  width: 400px;
  padding: 27px 24px ;
  max-height: 80vh;
  overflow-y: auto;
  box-sizing: border-box;
}

.filter {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 20px;
  width: 721px;
  max-height: 90vh;

  &__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__group {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }
  &__group:nth-child(8),  &__group:nth-child(9){
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &__label {
    font-weight: 400;
    color: #333;
    letter-spacing: 0.5px;
    line-height: 24px;
    width: 267px;
    align-content: center;
  }

  &__input {
    width: 398px;
  }

  &__dates {
    display: flex;
    gap: 52px;
    &__input {
      width: 172px;
    }

  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    gap: 46px;
    // margin-top: 46px;
    &__button {
      padding: 10px 30px;
      border-radius: 100px;
      font-weight: bold;
      border: none;
      outline: none;
      box-shadow: none;
    }
  }

}

::ng-deep {
  .filter-overlay-panel {
    margin-top: 4px;
  }

  .mat-form-field-wrapper {
    margin: 0;
    padding-bottom: 0;
  }
}


::ng-deep .mat-mdc-form-field-subscript-wrapper.mat-mdc-form-field-bottom-align {
  display: none !important;
}


