<div class="filter overlay-filter">
  <!-- <div class="filter__header">
    <h2 class="filter__title">Filtros avanzados</h2>
    <button mat-icon-button (click)="closeFilterDialog()" class="filter__close-btn">
      <mat-icon>close</mat-icon>
    </button>
  </div> -->

  <form [formGroup]="filterForm" class="filter__form">
    <!-- Inputs -->
    <div class="filter__group" *ngFor="let field of fieldsToShow">
      <label class="filter__label">{{ field.label }}</label>
      <mat-form-field appearance="outline" class="filter__input">
        <mat-label>{{ field.type === 'text' ? 'Escriba aquí' : 'Selecciona' }}</mat-label>

        <!-- Si el campo es un select -->
        <mat-select *ngIf="field.type === 'select'" [formControlName]="field.name">
          <mat-option *ngFor="let option of field.options" [value]="option">
            {{ option }}
          </mat-option>
        </mat-select>
        <!-- Si el campo es un input -->
        <input *ngIf="field.type === 'text'" matInput type="text" [formControlName]="field.name">
      </mat-form-field>
    </div>

    <!-- reception -->
    <div class="filter__group">
      <label class="filter__label">Recepción</label>
      <div class="filter__dates">
        <mat-form-field appearance="outline" class="filter__dates__input">
          <mat-label>Desde</mat-label>
          <input matInput [matDatepicker]="picker1" formControlName="cadastralRegistrationDateStart">
          <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" class="filter__dates__input">
          <mat-label>Hasta</mat-label>
          <input matInput [matDatepicker]="picker2" formControlName="cadastralRegistrationDateEnd">
          <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

    <!-- expiration (Desde - Hasta) -->
    <div class="filter__group">
      <label class="filter__label">Expiración</label>
      <div class="filter__dates">
        <mat-form-field appearance="outline" class="filter__dates__input">
          <mat-label>Desde</mat-label>
          <input matInput [matDatepicker]="picker3" formControlName="minDateExpirationMedium">
          <mat-datepicker-toggle matIconSuffix [for]="picker3"></mat-datepicker-toggle>
          <mat-datepicker #picker3></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" class="filter__dates__input">
          <mat-label>Hasta</mat-label>
          <input matInput [matDatepicker]="picker4" formControlName="maxDateExpirationMedium">
          <mat-datepicker-toggle matIconSuffix [for]="picker4"></mat-datepicker-toggle>
          <mat-datepicker #picker4></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

   <!-- actions -->
    <div class="filter__actions">
      <button mat-raised-button class="filter__actions__button" (click)="closeFilterDialog()">Cerrar</button>
      <button mat-flat-button color="primary" class="filter__actions__button" (click)="searchFilter()">Buscar</button>
    </div>
  </form>
</div>
